{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">
    <!-- css -->
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%static 'vendor/owl-carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{%static 'vendor/photoswipe/photoswipe.css' %}" rel="stylesheet">
    <link href="{%static 'vendor/photoswipe/default-skin/default-skin.css' %}" rel="stylesheet">
    <link href="{%static 'vendor/select2/css/select2.min.css' %}" rel="stylesheet">
    <link href="{%static 'css/style.css' %}" rel="stylesheet">
    <link href="{%static 'vendor/fontawesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{%static 'fonts/stroyka/stroyka.css' %}" rel="stylesheet">
</head>

{% block body %}
<body>
    <div class="site">
        {% block header %} {% endblock %}
        {% block main %} {% endblock %}
    </div>
    <div class="bottom-wrapper">
        {% block footer %} {% endblock %}
    </div>
</body>
{% endblock %}

</html>